{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col justify-center px-6 py-16 md:py-24 lg:px-8 items-center">
        <div class="bg-white flex flex-col items-center p-4 py-6 md:py-12 w-full max-w-lg rounded-lg shadow">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                 aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                     style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                 aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                     style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto w-full md:max-w-sm">
                <div class="flex justify-center py-3">
                    <a href="{{ path('homepage') }}" class="text-indigo-500 font-semibold text-5xl">
                        <i class="far fa-calendar-check text-6xl mr-1"></i> Todo
                    </a>
                </div>
                <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Se connecter</h2>
            </div>

            <div class="mx-auto w-full md:max-w-sm">
                {% if error %}
                    <div class="rounded-md bg-red-100 py-2 px-3 mt-6" role="alert">
                        <p class="text-sm text-red-800 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                {% endif %}

                <form class="space-y-4" action="{{ path('login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div>
                        <label for="_username" class="block text-sm font-medium leading-6 text-gray-900">
                            Nom d'utilisateur
                        </label>
                        <div class="mt-2">
                            <input id="_username" name="_username" type="text" required value="{{ lastUsername }}"
                                   class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="_password" class="block text-sm font-medium leading-6 text-gray-900">
                                Mot de passe
                            </label>
                        </div>
                        <div class="mt-2">
                            <input id="_password" name="_password" type="password" required
                                   class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                                class="flex w-full justify-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Se connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
