{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-indigo-600 shadow pb-6">
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8 flex flex-col items-center gap-6">
            <h1 class="text-3xl font-bold tracking-tight text-white">Tableau de bord</h1>
            <p class="text-indigo-50 max-w-md text-center">
                Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !
            </p>
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-6">
            <a href="{{ path('task_index') }}"
               class="flex items-center bg-white border rounded-lg overflow-hidden shadow hover:opacity-80">
                <div class="p-4 bg-indigo-500">
                    <i class="fa fa-list text-white text-xl"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h2 class="font-medium">Liste des tâches à faire</h2>
                </div>
            </a>
            <a href="{{ path('task_index_done') }}"
               class="flex items-center bg-white border rounded-lg overflow-hidden shadow hover:opacity-80">
                <div class="p-4 bg-indigo-500">
                    <i class="fa fa-list text-white text-xl"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h2 class="font-medium">Liste des tâches terminées</h2>
                </div>
            </a>
            <a href="{{ path('task_new') }}"
               class="flex items-center bg-white border rounded-lg overflow-hidden shadow hover:opacity-80">
                <div class="p-4 bg-indigo-500">
                    <i class="fa fa-pen text-white text-xl"></i>
                </div>
                <div class="px-4 text-gray-700">
                    <h2 class="font-medium">Créer une nouvelle tâche</h2>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
