{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-indigo-600 shadow pb-32">
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8 flex justify-between items-end flex-wrap gap-4">
            <h1 class="text-3xl font-bold tracking-tight text-white">Tâches terminées</h1>
            <div class="flex flex-wrap gap-1 sm:gap-2">
                <div>
                    <a href="{{ path('task_index') }}"
                       class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Liste des tâches
                    </a>
                </div>
                <div>
                    <a href="{{ path('task_new') }}"
                       class="flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Créer une tâche
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="-mt-32 rounded-md bg-white mx-auto max-w-7xl sm:py-6 lg:py-8 sm:px-6 lg:px-8 shadow">
            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5">
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-2 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Titre
                        </th>
                        <th scope="col"
                            class="px-6 py-4 font-medium text-gray-900 hidden lg:table-cell whitespace-nowrap">
                            Description
                        </th>
                        <th scope="col"
                            class="px-6 py-4 font-medium text-gray-900 hidden md:table-cell whitespace-nowrap">
                            Crée le
                        </th>
                        <th scope="col" class="px-2 md:px-6 py-4 font-medium text-gray-900"></th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    {% for task in pagination %}
                        <tr>
                            <td class="py-4 px-2 md:px-6 lg:flex lg:items-start">
                                <div class="text-sm">
                                    <span class="text-gray-400 text-[13px]">{{ task.user ? task.user.email : 'Anonyme' }}</span>
                                    <h3 class="text-gray-700 font-semibold">{{ task.title }}</h3>
                                </div>
                            </td>
                            <td class="py-4 px-6 hidden lg:table-cell">
                                <p>{{ task.content }}</p>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap hidden md:table-cell lg:align-baseline">
                                <p>{{ task.createdAt|time_diff(locale='fr') }}</p>
                            </td>
                            <td class="px-2 md:px-6 py-4 lg:flex lg:items-start">
                                <div class="flex justify-end gap-1 sm:gap-2">
                                    <div>
                                        <a href="{{ path('task_edit', {'id' : task.id}) }}"
                                           class="block px-[10px] py-2 rounded bg-orange-500 text-xs text-white hover:bg-opacity-70">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                    <form action="{{ path('task_toggle', {'id' : task.id }) }}" method="POST">
                                        <input type="hidden" name="_token" value="{{ csrf_token('toggle' ~ task.id) }}">
                                        <button class="px-[11px] py-2 rounded bg-amber-500 text-xs text-white hover:bg-opacity-70">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                    {% if 'ROLE_ADMIN' in app.user.roles and task.user == null %}
                                        <form action="{{ path('task_delete', {'id' : task.id }) }}" method="post">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ task.id) }}">
                                            <button class="px-[10px] py-2 rounded bg-red-500 text-xs text-white hover:bg-opacity-70">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    {% elseif task.user == app.user %}
                                        <form action="{{ path('task_delete', {'id' : task.id }) }}" method="post">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ task.id) }}">
                                            <button class="px-[10px] py-2 rounded bg-red-500 text-xs text-white hover:bg-opacity-70">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </main>
{% endblock %}
