<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>To Do List app</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="https://kit.fontawesome.com/7994d53332.js" crossorigin="anonymous"></script>
</head>

<body class="bg-indigo-50">
{% if app.user %}
    <header>
        <nav class="bg-indigo-600 border-b border-indigo-500">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <a href="{{ path('homepage') }}" class="text-indigo-100 font-semibold">
                                <i class="far fa-calendar-check text-xl mr-1"></i> Todo
                            </a>
                        </div>
                        <div>
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="{{ path('task_index') }}"
                                   class="{% if app.request.attributes.get('_route') == 'task_index' %}bg-indigo-800 text-white rounded-md px-3 py-2 text-sm font-medium{% else %}text-gray-300 hover:bg-indigo-800 hover:text-white rounded-md px-3 py-2 text-sm font-medium{% endif %}">
                                    Tâches
                                </a>
                                {% if 'ROLE_ADMIN' in app.user.roles %}
                                    <a href="{{ path('user_index') }}"
                                       class="{% if app.request.attributes.get('_route') == 'user_index' %}bg-indigo-800 text-white rounded-md px-3 py-2 text-sm font-medium{% else %}text-gray-300 hover:bg-indigo-800 hover:text-white rounded-md px-3 py-2 text-sm font-medium{% endif %}">
                                        Utilisateurs
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="ml-4 flex items-center md:ml-6">
                            <a href="{{ path('logout') }}" title="logout"
                               class="relative rounded-full p-1 text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                                <i class="fas fa-sign-out-alt text-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="bg-indigo-600" role="alert">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-6">
                    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                         role="alert">
                        <strong class="font-bold">Succès !</strong>
                        <span class="block sm:inline alert-success">{{ flash_message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="bg-indigo-600" role="alert">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-6">
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Erreur !</strong>
                        <span class="block sm:inline alert-error">{{ flash_message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% block header_title %}{% endblock %}
    </div>
</div>

{% block body %}{% endblock %}

<footer class="{% if app.user %}py-16{% endif %}">
    <div class="text-center">
        <p class="text-sm">Copyright &copy; OpenClassrooms</p>
    </div>
</footer>
</body>
</html>
