{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-indigo-600 shadow pb-32">
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8 flex justify-between items-end">
            <h1 class="text-3xl font-bold tracking-tight text-white">Utilisateurs</h1>
            <div>
                <a href="{{ path('user_index') }}"
                   class="flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Retour
                </a>
            </div>
        </div>
    </div>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="-mt-32 rounded-md bg-white mx-auto max-w-7xl p-4 sm:py-6 lg:py-8 sm:px-6 lg:px-8 shadow">
            <div>
                <div class="row">
                    {{ form_start(form, {'action' : path('user_new')}) }}
                    <div class="space-y-4">
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        {{ form_row(form.roles) }}
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
