{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-indigo-600 shadow pb-32">
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8 flex justify-between items-end">
            <h1 class="text-3xl font-bold tracking-tight text-white">Utilisateurs</h1>
            <div>
                <a href="{{ path('user_new') }}"
                   class="flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Créer un utilisateur
                </a>
            </div>
        </div>
    </div>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="-mt-32 rounded-md bg-white mx-auto max-w-7xl sm:py-6 lg:py-8 sm:px-6 lg:px-8 shadow">
            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md md:m-5">
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-2 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Nom d'utilisateur
                        </th>
                        <th scope="col"
                            class="px-6 py-4 font-medium text-gray-900 hidden lg:table-cell whitespace-nowrap">
                            Roles
                        </th>
                        <th scope="col" class="px-2 md:px-6 py-4 font-medium text-gray-900"></th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    {% for user in pagination %}
                        <tr>
                            <td class="py-4 px-2 md:px-6 lg:flex lg:items-start">
                                <div class="text-sm">
                                    <span class="text-gray-400 text-[13px]">{{ user.email }}</span>
                                    <h3 class="text-gray-700 font-semibold">{{ user.username }}</h3>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap hidden md:table-cell lg:align-baseline">
                                <ul class="space-y-1">
                                    {% for role in user.roles %}
                                        <li class="text-sm">{{ role }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="px-2 md:px-6 py-4 lg:flex lg:items-start">
                                <div class="flex justify-end gap-1 sm:gap-2">
                                    <div>
                                        <a href="{{ path('user_edit', {'id' : user.id}) }}"
                                           class="block px-[10px] py-2 rounded bg-orange-500 text-xs text-white hover:bg-opacity-70">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </div>
                                    {% if user != app.user %}
                                        <form action="{{ path('user_delete', {'id' : user.id }) }}" method="post">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            <button class="px-[10px] py-2 rounded bg-red-500 text-xs text-white hover:bg-opacity-70">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </main>
{% endblock %}
